Types: deb
URIs: {{ item.URL }}
Suites: {{ item.SUITES }}
{% if item.COMPONENTS is defined and item.COMPONENTS | length > 0 %}Components: {{ item.COMPONENTS }}
{% endif %}
Signed-By: {{ item.APT_KEY_LOCAL_PATH }}
